{% extends 'base.html' %}

{% block content %}
    <header>
      Make a Post
    </header>

    <main class="content">
    <div class="row">

      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
              {{ form.Post_title.label }}<br>
              {{ form.Post_title(size=32) }}
              {% for error in form.Post_title.errors %}
              <span style="color : red;">[{{error}}]</span>
              {% endfor %}
          </p>

          <p>
              {{ form.Post_body.label }}<br>
              {{ form.Post_body(size=32) }}
              {% for error in form.Post_body.errors %}
              <span style="color : red;">[{{error}}]</span>
              {% endfor %}
          </p>
          <p> {{ form.submit() }}</p>
      </form>

    </div>
    </main>

{% endblock %}
